access = ( root )
actionsequence = ( groups directories tidy disable copy editfiles links files shellcommands )
DefaultCopyType = ( checksum )
ExpireAfter = ( 15 )
HostnameKeys = ( off )
IfElapsed = ( 1 )
moduledirectory = ( /var/cfengine/modules )
NonAlphaNumFiles = ( on )
Repository = ( /var/cfengine/repository )
SecureInput = ( on )
SplayTime = ( 5 )
childlibpath = ( /lib:/usr/lib:/usr/local/lib )
editfilesize = ( 500000 ) 
